*{
    background-color: #7ceb92;
}

.bloco {
    background-color: #fff;
    width:500px;
    left:0;
    right:0;
    margin:auto;
    margin-top:5%;
}

.bloco form {
    padding:20px;
}

.bloco form div {
    padding: 10px;
}

.bloco form div input {
    padding: 8px 10px;
    width:90%;
    margin-top:10px;
}

.botao {
    padding: 8px 10px;
    margin:10px;
    background-color: blue;
    border:0;
}

h1 {
    padding: 20px;
    text-align: center;
}


img{
    width: 333px;
    height: 500px;
    border-radius: 30px;
}

.tudo_Filmes{
 justify-content: center;
 align-items: center;
 flex-direction: column;
 align-content: center;
 text-align: center;
}